:global(.ui){
    :local(.comment) {
        overflow: auto;
    }

    :local(.commentDeleted) {

        > *:not(button) {
            opacity: .5;
        }

        > button {
            cursor: pointer;
        }
    }
}
