:global(.ui.basic.label):local(.toolbarBtn) {
    border: none
}

:global(.ui.card):local(.post) {
    width: 100%;

    :local(.liker),
    :local(.disliker) {
        position: relative;

        cursor: pointer;
        
        > img {
            object-fit: cover;
        }

        > :global(.label) {
            z-index: 1000;
            position: absolute;
            left: 38%;
            bottom: 0;

            transform: translate(-50%, 130%);

            opacity: 0;
            transition: opacity .16s;
        }

        &:hover {
            > :global(.label) {
                opacity: 1;
            }
        }
    }
}

:global(.ui.card):local(.postDeleted) {
    
    background: rgba(255, 255, 255, 0.5);

    > *:not(button) { 
        opacity: .5;
    }

    > button {
        cursor: pointer;
    }
}